@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700&subset=cyrillic);@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.app {
  overflow-y: auto;
  height: 100vh; }

.content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 50px; }

@media only screen and (max-width: 1500px) {
  .content {
    padding-bottom: 30px; } }

.footer__wrapper {
  display: flex;
  width: 1280px;
  height: calc(180px - 30px);
  margin: 0 auto; }

.footer__item {
  width: calc(1280px / 3); }
  .footer__item .menu {
    flex-direction: column;
    align-items: center;
    height: 100%; }
    .footer__item .menu__link {
      padding: 5px; }
  .footer__item .range {
    background: none;
    height: 100%; }
    .footer__item .range__wrapper {
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
    .footer__item .range__item:hover {
      border: 1px solid transparent;
      text-decoration: underline; }
    .footer__item .range__link {
      line-height: 1;
      font-size: 12px; }
  .footer__item .social {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer__item .social .social__item {
      margin: 0 15px; }
    .footer__item .social .social__link {
      display: block;
      height: 40px; }
    .footer__item .social .social__img {
      height: 40px;
      width: 40px;
      margin-top: 0; }

.footer__phone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  padding: 15px; }
  .footer__phone > span {
    font-size: 20px;
    padding-left: 0; }

.footer__social {
  height: 50px; }

@media only screen and (max-width: 1500px) {
  .footer__wrapper {
    width: 1080px; }
  .footer__item {
    width: calc(1080px / 3); } }

.header {
  position: relative;
  display: flex;
  max-width: 1280px;
  height: calc(160px - 50px);
  margin: 0 auto; }
  .header:after {
    content: 'flowet';
    position: absolute;
    height: 80px;
    top: -20px;
    left: 110px;
    color: #ee64c0;
    font-size: 72px;
    line-height: 150px;
    font-style: italic; }
  .header:before {
    content: '\41C\44B   \43F\435\440\435\434\430\434\438\43C   \412\430\448\443   \437\430\431\43E\442\443';
    position: absolute;
    height: 30px;
    top: 20px;
    left: 90px;
    color: #ee64c0;
    font-size: 16px;
    line-height: 150px;
    font-style: italic; }
  .header__content {
    width: calc(100% - calc(160px - 40px)); }
  .header__logo {
    width: calc(160px - 40px);
    height: calc(160px - 40px);
    margin-right: 200px; }
  .header__contacts {
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    line-height: 50px; }
  .header__phone {
    padding-left: 30px; }
  .header__viber {
    width: 30px;
    height: 30px;
    margin: 10px; }
  .header__basket {
    display: flex;
    align-items: center;
    width: 140px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc; }
    .header__basket-svg {
      width: 20px;
      height: 20px;
      fill: #888; }
    .header__basket-value {
      margin-left: 10px;
      font-size: 12px;
      line-height: 14px; }

@media only screen and (max-width: 1500px) {
  .header {
    height: calc(160px - 40px);
    max-width: 1080px; } }

.btn__back {
  text-align: right;
  margin-bottom: 20px; }

.calc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 20px; }
  .calc__title {
    margin-bottom: 10px; }
  .calc__btn {
    margin: 0 20px; }
    .calc__btn div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px !important;
      min-width: 30px !important; }
    .calc__btn button {
      height: 30px !important; }
    .calc__btn span {
      padding: 0 !important; }
  .calc__value {
    min-width: 25px;
    font-size: 20px;
    text-align: center; }

.card {
  position: relative;
  height: calc((1280px / 4) + 45px);
  width: calc(1280px / 4);
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
  overflow: hidden; }
  .card:hover {
    z-index: 2;
    overflow: visible; }
  .card__wrapper {
    width: 100%;
    padding: 15px; }
    .card__wrapper:hover {
      position: absolute;
      top: 0;
      left: -6px;
      height: calc((1280px / 4) + 125px);
      width: calc(1280px / 4 + 10px);
      box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3);
      background: #fff;
      transition: box-shadow 0.2s ease; }
  .card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000; }
  .card__img {
    width: 250px;
    height: 250px;
    margin-bottom: 15px; }
  .card__name {
    display: inline-block;
    text-align: center;
    max-width: 250px;
    font-size: 14px;
    text-transform: uppercase;
    height: 45px; }
  .card__price {
    font-size: 24px;
    margin-bottom: 20px; }
  .card__btn {
    display: flex;
    justify-content: center; }

@media only screen and (max-width: 1500px) {
  .card {
    height: calc((1080px / 4) + 40px);
    width: calc(1080px / 4); }
    .card__wrapper:hover {
      height: calc((1080px / 4) + 100px);
      width: calc(1080px / 4 + 10px); }
    .card__img {
      width: 200px;
      height: 200px;
      margin-bottom: 10px; } }

.description {
  max-width: 1280px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 40px; }
  .description__img {
    width: 68%;
    padding: 0 200px;
    height: 100%; }
  .description__info {
    width: 30%; }
  .description__name {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .description__price {
    font-size: 48px;
    margin-bottom: 30px; }
  .description__text {
    margin-top: 25px; }
  .description__note {
    font-style: italic;
    text-decoration: underline;
    margin: 20px 0; }

@media only screen and (max-width: 1500px) {
  .description {
    margin-top: 20px; }
    .description__img {
      width: 57%; }
    .description__name {
      font-size: 22px;
      margin-bottom: 20px; }
    .description__price {
      font-size: 36px;
      margin-bottom: 20px; } }

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.preview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10px;
  overflow: hidden; }
  .preview:hover:after {
    content: '';
    position: absolute; }
  .preview__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 236px;
    margin-bottom: 15px;
    padding: 10px 20px 20px;
    transition: all 0.24s ease; }
    .preview__card:hover {
      box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.75); }
  .preview__inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-decoration: none !important; }
  .preview__img {
    margin: 0 auto 10px auto;
    width: 140px;
    height: 140px; }
  .preview__name {
    display: block;
    height: 57px;
    padding: 0 20px;
    font-size: 16px;
    color: #454545;
    text-align: center;
    overflow: hidden; }
  .preview__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }

@media only screen and (max-width: 1500px) {
  .preview {
    padding: 10px 5px 0 5px; }
    .preview__card {
      width: calc((1080px - 10px) / 5);
      padding: 10px 8px; } }

.filter {
  display: flex;
  justify-content: space-between;
  padding: 0 40px; }

.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  min-height: 40px; }
  .menu__item {
    display: flex;
    align-items: center;
    border-radius: 4px; }
  .menu__link {
    display: inline-block;
    padding: 13px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000; }
    .menu__link:hover {
      text-decoration: underline; }

.order__title {
  padding: 20px;
  font-size: 24px;
  text-align: center;
  text-decoration: underline; }

.order__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }
  .order__item-img {
    width: 150px;
    height: 150px; }
  .order__item-name {
    width: 550px; }
  .order__item-cost {
    width: 150px;
    font-size: 20px;
    text-align: right; }
  .order__item--post-card .calc {
    visibility: hidden; }

.order__summary {
  display: flex;
  justify-content: flex-end; }
  .order__summary-wrapper {
    width: 400px;
    border-top: 1px solid #ccc; }

.order__extra-title {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-bottom: 10px; }

.order__extra-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.pagination {
  display: flex;
  justify-content: center; }
  .pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    min-width: 40px;
    height: 40px;
    border-radius: 4px;
    list-style: none;
    cursor: pointer; }
    .pagination li:hover {
      background: yellowgreen; }
  .pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    outline: none; }
  .pagination .active {
    font-weight: 700;
    background: lightblue; }

.range {
  min-height: 50px;
  background: #b4e391;
  /* Old browsers */
  background: -webkit-linear-gradient(left, #b4e391 0%, #61c419 50%, #b4e391 100%);
  background: -o-linear-gradient(left, #b4e391 0%, #61c419 50%, #b4e391 100%);
  background: linear-gradient(to right, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 );
  /* IE6-9 */ }
  .range__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto; }
  .range__item {
    display: flex;
    width: calc(1280px / 7);
    border: 1px solid transparent;
    border-radius: 4px; }
    .range__item:hover {
      border: 1px solid #000; }
  .range__link {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: calc(50px - 2px);
    color: #000;
    transition: all 0.2s ease; }

@media only screen and (max-width: 1500px) {
  .range {
    min-height: 40px; }
    .range__item {
      width: calc(1080px / 7); }
    .range__link {
      line-height: calc(40px - 2px); } }

.social {
  position: absolute;
  right: 5px;
  top: 3px; }
  .social__img {
    height: 24px;
    width: 24px;
    margin-top: 5px; }

.page {
  height: 100%; }
  .page-header {
    position: relative; }
  .page-main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 160px - 180px);
    width: 1280px;
    margin: 0 auto; }
  .page-footer {
    padding: 15px;
    background: #b4e391;
    /* Old browsers */
    background: -webkit-linear-gradient(left, #b4e391 0%, #61c419 50%, #b4e391 100%);
    background: -o-linear-gradient(left, #b4e391 0%, #61c419 50%, #b4e391 100%);
    background: linear-gradient(to right, #b4e391 0%, #61c419 50%, #b4e391 100%);
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 );
    /* IE6-9 */ }

@media only screen and (max-width: 1500px) {
  .page-main {
    width: 1080px; } }

/*# sourceMappingURL=app.styles.css.map*/